<fieldset>
<form action="" method="post">
    <div>
        <label for="name">Name:</label><br>
        <input type="text">
    </div>
    <div>
        <label for="age">Age:</label><br>
        <input type="number">
    </div>
    <div>
        <label for="address">Address:</label><br>
        <input type="text">
    </div>
    <div>
        <label for="email">Email:</label><br>
        <input type="text">
    </div><br>
    <button type="submit" class="align-content-center">Submit</button>
</form>
</fieldset>
